:root{
    --cor-fundo: rgb(23, 114, 102);
    --cor-fonte: rgb(252, 244, 244);
    --cor-amarelo: rgb(252, 229, 126);
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
    font-family: "Poppins";
}
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.titulo{
    font-size: 1.7em;
    padding: 2em 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 50vh;
}
.mensagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5em;
}
.mensagem h2{
    font-size: 1.5em;
    font-weight: 500;
}
.mensagem span{
    font-size: 2em;
}

.mensagem h3{
    margin: 0 2em;
    text-align: center;
}

.container__botao{
    display: grid;
    height: 15vh;
}
.tentativa{
    align-self: end;
    background-color: var(--cor-fonte);
    color: var(--cor-fundo);
    font-weight: 500;
    border-radius: 1em;
    padding: .25em .5em;
}
.venceu{
    font-weight: 700;
    font-size: 1.1em;
    color: var(--cor-amarelo);
    text-decoration: underline;
}